In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\EGYPT_LAPTOP\Desktop\Ecommerce Customers")
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [5]:
new_df = df.drop(['Address','Email','Avatar'],axis=1)

In [6]:
new_df

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
1,31.926272,11.109461,37.268959,2.664034,392.204933
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...
495,33.237660,13.566160,36.417985,3.746573,573.847438
496,34.702529,11.695736,37.190268,3.576526,529.049004
497,32.646777,11.499409,38.332576,4.958264,551.620145
498,33.322501,12.391423,36.840086,2.336485,456.469510
499,33.715981,12.418808,35.771016,2.735160,497.778642

In [7]:
import math
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.graphics.regressionplots import *
from sklearn import datasets, linear_model
from patsy import dmatrices

In [10]:
from scipy import stats

In [25]:
df.columns
cols = [ 'Avg. Session Length', 'Time on App', 'Time on Website', 'Length of Membership']

In [18]:
r, p = stats.pearsonr(df['Avg. Session Length'],df['Yearly Amount Spent'])
print(r)
print(p)

0.35508829470764314
2.6450940333347305e-16

In [20]:
df.corr()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
Avg. Session Length,1.000000,-0.027826,-0.034987,0.060247,0.355088
Time on App,-0.027826,1.000000,0.082388,0.029143,0.499328
Time on Website,-0.034987,0.082388,1.000000,-0.047582,-0.002641
Length of Membership,0.060247,0.029143,-0.047582,1.000000,0.809084
Yearly Amount Spent,0.355088,0.499328,-0.002641,0.809084,1.000000

In [26]:
corrs = []
for col in cols :
    r,p = stats.pearsonr(df[col],df['Yearly Amount Spent'])
    x = [r,p]
    corrs.append(x)
corrs

[[0.35508829470764314, 2.6450940333347305e-16],
 [0.4993277700534504, 6.905842369971329e-33],
 [-0.002640844672158922, 0.9530290603515617],
 [0.809083568247581, 4.806615782583552e-117]]

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import MinMaxScaler

In [59]:
scaler = MinMaxScaler()
new_df = pd.DataFrame(scaler.fit_transform(df[[ 'Avg. Session Length', 'Time on App', 'Length of Membership']]),columns=[ 'Avg. Session Length', 'Time on App', 'Length of Membership'])
new_df.head()

   Avg. Session Length  Time on App  Length of Membership
0             0.751425     0.626620              0.573101
1             0.362306     0.393016              0.359869
2             0.524953     0.426378              0.576396
3             0.722409     0.787050              0.428434
4             0.574861     0.647702              0.627768

In [47]:
lr = LinearRegression()

In [60]:
X= new_df[[ 'Avg. Session Length', 'Time on App', 'Length of Membership']]
y= df['Yearly Amount Spent']
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [61]:
lr.fit(X_train,y_train)

LinearRegression()

In [62]:
lr.coef_

array([169.13926258, 256.88532026, 411.68969797])

In [63]:
predictions = lr.predict(X_test)

In [64]:
from sklearn.metrics import r2_score,mean_squared_error

In [65]:
print(np.sqrt(mean_squared_error(y_test,predictions)))
print(r2_score(y_test,predictions))

10.503470182649453
0.977720338837434

In [66]:
#Adj r2 = 1-(1-R2)*(n-1)/(n-p-1)

In [68]:
R2 = r2_score(y_test,predictions)

In [75]:
n = 500 
p=3
Adj_r2 = 1-(1-R2)*(n-1)/(n-p)
Adj_r2

0.9776306822532789